* {
  font-family: "Volkhov", serif;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --mainbackgroud-color: #009f4d;
  --text-color: #fb811e;
  --white: white;
  --black: black;
  --gray: #fafafa;
}

[data-theme="dark"] {
  --white: black;
  --black: white;
  --gray: black;
}
/* ORGANIC  */

.organic {
  background-color: var(--mainbackgroud-color);
}

.organic__content {
  color: var(--white);
  padding-bottom: 64px;
  position: relative;
}

.organic__content h5 {
  font-size: 1.7rem;
  font-weight: 400;
}

.organic__content h1 {
  font-size: 2.7rem;
  font-weight: 700;
}

.organic__content p {
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 1.8rem;
  margin-top: 2rem;
}

.organic__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}

.organic__text p {
  font-size: 11rem;
  font-weight: 700;
  letter-spacing: 3px;
  color: white;
  opacity: 0.14;
}

.oganic__item {
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
  border: 0px;
}

.organic .organic__content--text-1 {
  font-size: 1.2rem;
  font-family: "Source Sans Pro", sans-serif;
}

@media screen and (max-width: 1200px) {
  .organic__content h5 {
    font-size: 1.2rem;
  }

  .organic__content h1 {
    font-size: 2.3rem;
  }

  .organic__content--text-1 {
    font-size: 0.9rem !important;
    font-weight: 300;
  }

  .card-title {
    font-size: 1.2rem !important;
  }

  .card-text {
    font-size: 0.9rem !important;
  }
}

@media screen and (max-width: 992px) {
  .oganic__item {
    margin-top: 24px;
  }

  .organic__content h1 {
    font-size: 1.7rem;
  }

  .organic__content h5 {
    padding-top: 38px;
  }

  .organic__content p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 768px) {
  .oganic__item {
    margin: 24px;
  }
}

@media screen and (max-width: 586px) {
  .organic__content h5 {
    font-size: 4vw;
    padding-left: 38px;
  }

  .organic__content h1 {
    font-size: 6vw;
    padding-left: 38px;
  }

  .organic__content p {
    font-size: 3vw;
    padding-right: 38px;
    line-height: 4vw;
  }
}

.card-btn {
  color: var(--mainbackgroud-color);
  width: 100px;
  height: 32px;
  border-radius: 15px;
  background: rgb(0 159 77 / 16%);
  text-align: center;
  line-height: 1.9rem;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
}

.card-title {
  font-weight: 400;
  font-size: 1.7rem;
  font-family: "Source Sans Pro", sans-serif;
}

.card-text {
  font-size: 1rem;
  color: #888;
  line-height: 1.5rem;
  font-family: "Source Sans Pro", sans-serif;
}

.card-body {
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.organic__content__item {
  justify-content: center;
}

/* QUALITY  */

.quality__content h4 {
  color: var(--text-color);
  letter-spacing: 1px;
  font-size: 1.5rem;
  padding-bottom: 0;
}

.quality__content h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

.quality__img img {
  width: 100%;
}

.quality__content p {
  color: #888;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8rem;
  font-family: "Source Sans Pro", sans-serif;
}

.quality__content i {
  color: #fb811e;
  font-size: 2rem;
}

.quality__content span {
  font-size: 1.3rem;
  font-weight: 700;
  padding-left: 6px;
  padding-bottom: 18px;
}

.quality__img {
}

.quality__img__container {
  padding-left: 64px;
  border-radius: 24px;
  overflow: hidden;
  height: 100%;
}

.quality__img__container img {
  border-radius: 24px;
  position: relative;
  height: 100%;
}

.quality__number {
  width: 18rem;
  height: 11rem;
  position: absolute;
  bottom: 15%;
  left: 0;
  text-align: center;
  padding: 2vh;
  border: 1px solid var(--text-color);
  border-bottom-right-radius: 6rem;
  background-color: var(--text-color);
}

.quality__number h1 {
  font-size: 4.8rem;
  color: var(--white);
  font-weight: 700;
  margin-bottom: 0;
  padding: 8px 0 4px 0;
}

.quality__number p {
  color: var(--white);
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "Source Sans Pro", sans-serif;
}

@media screen and (max-width: 1230px) {
  .quality__img__container {
    padding: 64px 0 64px 36px;
  }
}

@media screen and (max-width: 992px) {
  .quality__content {
    padding: 64px 0 0 64px;
  }

  .quality__img__container {
    padding-top: 0;
  }
}

@media screen and (max-width: 586px) {
  .quality__content {
    padding: 0 0 0 64px;
  }

  .quality__content h4 {
    font-size: 3vw;
    padding-left: 48px;
  }

  .quality__content h1 {
    font-size: 6vw;
    padding-left: 48px;
  }

  .quality__content p {
    font-size: 3vw;
    padding-left: 48px;
    line-height: 1.2rem;
  }

  .quality__content .col-6 {
    padding-left: 64px;
  }

  .quality__content .col-6:last-of-type {
    padding-left: 24px;
  }

  .quality__content i {
    font-size: 4vw;
  }

  .quality__content span {
    font-size: 3vw;
  }

  .quality__content .col-6 p {
    padding-right: 12px 36px 0 0;
  }

  .quality__number {
    width: 46vw;
    height: 26vw;
    border-bottom-right-radius: 12vw;
    bottom: 22vw;
  }

  .quality__number h1 {
    font-size: 11vw;
  }

  .quality__number p {
    font-size: 2vw;
  }
}

/* ITEMS  */

.items__content img {
  width: 50px;
}

.items__content h3 {
  font-size: 1.6rem;
  font-weight: 700;
  transition: all 0.5s;
}

.items__content p {
  font-family: "Source Sans Pro", sans-serif;
}

.items__content {
  border-radius: 15px;
  padding: 24px;
  transition: all 0.5s;
  border: 1px solid transparent;
}

.items__content:hover {
  border: 1px dotted #c1c1c1;
  cursor: pointer;
}

.items__content:hover h3 {
  color: var(--mainbackgroud-color);
  cursor: pointer;
}

@media screen and (max-width: 786px) {
  .items__content img {
    width: 90px;
    height: 90px;
  }

  .items__content h3 {
    padding-left: 24px;
  }

  .items__content p {
    padding-left: 24px;
  }
}

@media screen and (max-width: 568px) {
  .items__content img {
    width: 15vw;
    height: 15vw;
  }

  .items__content h3 {
    padding-left: 0;
    font-size: 3vw;
  }

  .items__content p {
    padding-left: 0;
    font-size: 3vw;
  }
}

/* DARK THEME  */

:root {
  --background-darktheme: #222222;
  --color-darktheme: #ffffff;
  --text-dark: #000000;
}

.themedark {
  background: var(--background-darktheme);
}

.text-white {
  color: var(--color-darktheme);
}

.text-dark {
  color: var(--text-dark);
}

.items__content p {
  color: #888;
}

.items__content h3 {
  transition: all 0.5s;
}

.items .items__content:hover h3 {
  color: #009f4d !important;
}

.header__right > i {
  transform: none;
  font-size: 1.6rem;
  padding: 0;
}

/* GALLERY */

.gallery__effect h4 {
  color: #fb811e;
}

.gallery__effect h3 {
  font-size: 38px;
  line-height: 50px;
  font-weight: 600;
  color: black;
  margin-bottom: 0;
}
.gallery__effect button {
  transition: all 0.5s;
}

.gallery__effect button:hover {
  background-color: #009f4d;
}

.gallery__item a {
  display: block;
  height: 100%;
}

.gallery__item img {
  width: 100%;
}

.text {
  font-size: 15px;
  line-height: 27px;
  color: #888;
}

.btn-style {
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  border-radius: 30px;
  background-color: #fb811e;
  border: none;
  padding: 12px 21px;
  font-weight: 600;
  color: white;
}

.gallery__item {
  position: relative;
  overflow: hidden;
}

.gallery__item::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: -75%;
  display: block;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-17deg);
  transition: all 0.75s;
}

.gallery__item:hover::before {
  left: 100%;
  animation: move2 0.75s;
}

@keyframes move2 {
  0% {
    opacity: 1;
    left: -50%;
  }
  100% {
    opacity: 0;
  }
}

.gallery__item h5 {
  position: absolute;
  z-index: 0;
  bottom: 0;
  color: white;
  font-weight: bold;
  background: rgb(255 255 255 / 27%);
  padding: 6px;
  left: 0;
  right: 0;
  text-align: center;
  margin: 20px;
}

/* SLIDER */

#slider {
  background-image: url(./../img/bg1.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  z-index: 0;
  position: relative;
}

#slider::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: #0000006b;
}

#carousel_slider .carousel-indicators {
  bottom: 28px;
}

#carousel_slider .container {
  max-width: 900px;
}

#carousel_slider .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 6px;
  cursor: pointer;
}

#carousel_slider .carousel-indicators .active {
  background-color: #fb811e;
}

#carousel_slider .carousel_content {
  max-width: 900px;
  margin: auto;
}

#carousel_slider .carousel_left {
  color: white;
  text-align: center;
}

#carousel_slider .carousel_left a {
  display: inline-block;
  width: 90px;
  height: 90px;
  background-color: var(--bg-color);
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}

#carousel_slider .carousel_left h3 {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
}

#carousel_slider .carousel_right i {
  font-size: 20px;
  color: #fb811e;
}

#carousel_slider .carousel_right p {
  font-size: 20px;
  color: white;
  text-indent: 30px;
}

/* FOOTER */

#w3l-footer-16 h3 {
  font-size: 20px;
  line-height: 25px;
  color: black;
  margin-bottom: 30px;
  font-weight: 600;
}

#w3l-footer-16 p {
  font-size: 16px;
  line-height: 24px;
  color: #707070;
}

#w3l-footer-16 a {
  text-decoration: none;
  color: #707070;
  transition: all 0.5s;
}

#w3l-footer-16 a:hover {
  color: #fb811e;
}

#w3l-footer-16 .FooterLogo a {
  position: relative;
  font-size: 32px;
  line-height: 28px;
  color: #fb811e;
  transition: all 0.5s;
}

#w3l-footer-16 .FooterLogo a:hover {
  color: #000000;
}

#w3l-footer-16 .FooterLogo a i {
  position: absolute;
  left: 55px;
  top: -4px;
  font-size: 20px;
}

#w3l-footer-16 .subscribe input {
  width: 80%;
  font-size: 16px;
  color: #000000;
  background-color: #8888881a;
  padding: 12px 20px;
  border: 1px solid #8888881a;
  border-radius: 30px 0px 0px 30px;
  outline: none;
}

#w3l-footer-16 .subscribe button {
  width: 20%;
  font-size: 16px;
  color: #fff;
  background-color: #009f4d;
  border: none;
  border-radius: 0px 30px 30px 0px;
  outline: none;
  padding: 12px 12px;
  transition: 0.5s;
}

#w3l-footer-16 .subscribe button:hover {
  opacity: 0.8;
}

#w3l-footer-16 .social li {
  list-style: none;
  display: inline-block;
  margin-right: 5px;
}

#w3l-footer-16 .social ul {
  padding: 0;
  margin: 0;
}

#w3l-footer-16 .social li a {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: inline-block;
  background-color: #009f4d12;
  text-align: center;
  line-height: 35px;
  transition: all 0.5s;
}

#w3l-footer-16 .social li a:hover {
  box-shadow: 0 0 5px 0px #009f4d;
}

#w3l-footer-16 .social li a i {
  color: #009f4d;
  transition: all 0.5s;
}

#w3l-footer-16 .social li a:hover i {
  color: #fb811e;
}

@media screen and (max-width: 1199.98px) {
  #w3l-footer-16 .subscribe button {
    width: 30%;
  }
  #w3l-footer-16 h3 {
    font-size: 16px;
  }
}

@media screen and (max-width: 991.98px) {
  /* gallery */
  .gallery__effect h4 {
    font-size: 20px;
  }
  .gallery__effect h3 {
    font-size: 35px;
    line-height: 45px;
  }

  /* FOOTER */
  .w3l-footer-16 .footer__content h3 {
    margin-bottom: 10px;
  }

  #w3l-footer-16 h3 {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 767.98px) {
  /* gallery */
  .gallery__effect h3 {
    font-size: 32px;
    line-height: 42px;
  }
  /* carousel__sider */

  #carousel_slider .carousel_right {
    text-align: center;
  }
  /* FOOTER */
  #w3l-footer-16 h3 {
    margin-bottom: 18px;
  }
}
@media screen and (max-width: 575.98px) {
  /* gallery */
  .gallery__effect h3 {
    font-size: 30px;
    line-height: 40px;
  }
  /* carousel__sider */

  #carousel_slider .carousel_right p {
    font-size: 18px;
  }
}
@media screen and (max-width: 420px) {
  /* gallery */
  .gallery__contact {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 1em;
  }
}
